html, body{
  background-color: #2d3436;
}
blockquote{
  font-family: 'Cinzel', serif;
}

.nav-link:hover{
  text-decoration: underline;
}

/** home transition **/

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.myworld {
  animation: 2s ease-out 0s 1 slideInFromRight;

  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

.myworld:hover {
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg);
}

.myname{
  animation: 2s ease-out 0s 1 slideInFromLeft;
}